<h1 class = "centered"> Icons </h1>

<div class = "top-margin5 bot-margin5 centered">

    <div class = "centered menu">

        <ul>
    
            <li>
                <mat-icon fontIcon = "home"></mat-icon>
            </li>

            <li>
                <mat-icon class = "pink" fontIcon = "favorite"></mat-icon>
            </li>

            <li>
                <mat-icon class = "yellow" fontIcon = "key"></mat-icon>
            </li>
            
            <li>
                <mat-icon class = "red" fontIcon = "delete"></mat-icon>
            </li>

            <li>
                <mat-icon class = "green" fontIcon = "add"></mat-icon>
            </li>

            <li>
                <mat-icon class = "red" fontIcon = "cancel"></mat-icon>
            </li>

            <li>
                <mat-icon class = "yellow" fontIcon = "star"></mat-icon>
            </li>

            <li>
                <mat-icon fontIcon = "refresh"></mat-icon>
            </li>

            <li>
                <mat-icon class = "yellow" fontIcon = "bolt"></mat-icon>
            </li>

            <li>
                <mat-icon class = "blue" fontIcon = "download"></mat-icon>
            </li>
    
        </ul>
    
    </div>
</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>