<h1 class = "centered"> Expansion Panels </h1>

<div class = "top-margin5 bot-margin5 centered">

    <mat-accordion multi>

        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal data
                </mat-panel-title>
                <mat-panel-description>
                    Your name and age
                </mat-panel-description>
            </mat-expansion-panel-header>

            Expansion panel expanded information.
      
        </mat-expansion-panel>
      
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Day of the trip
                </mat-panel-title>
                <mat-panel-description>
                    Date of travel
                </mat-panel-description>
            </mat-expansion-panel-header>

            Expansion panel expanded information.

        </mat-expansion-panel>

    </mat-accordion>

</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>