<h1 class = "centered"> Progress Spinners </h1>

<div class = "top-margin5 bot-margin5">

    <div>

        <ul>
    
            <li>
                <h2> Determinate </h2> 
                <mat-spinner mode = "determinate" *ngIf = "isLoading1" [value] = "progress"></mat-spinner>

                <div>
                    <button type = "button" mat-raised-button (click) = "start()">
                        Start Download
                    </button>
                </div>
            </li>

            <li>
                <h2> Indeterminate </h2> 
                <mat-spinner mode = "indeterminate" *ngIf = "isLoading2"></mat-spinner>

                <div>

                    <button type = "button" mat-raised-button (click) = "connect()">
                        Connect to Server
                    </button>

                </div>
            </li>

        </ul>
    
    </div>
</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>