<h1 class = "centered mat-display-2"> Text Areas </h1>

<div class = "top-margin5 bot-margin5 centered">

    <mat-form-field>

        <mat-label class = "mat-subheading-2">
            Leave a comment
        </mat-label>
        <textarea class = "mat-input" matInput cdkTextareaAutosize rows = "0" placeholder = "Ex. It makes me feel..."></textarea>

    </mat-form-field>

</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>