<h1 class = "centered mat-display-2"> Date Pickers </h1>

<div class = "top-margin5 bot-margin5 centered">

    <mat-form-field>

        <mat-label class = "mat-subheading-2">
            Birthday
        </mat-label>
        <input matInput (focus) = "birthday.open()" [min] = "minDate" [max] = "maxDate" [matDatepicker] = "birthday">
        <mat-hint class = "mat-caption">
            MM/DD/YYYY
        </mat-hint>
        <mat-datepicker-toggle matSuffix [for] = "birthday"></mat-datepicker-toggle>
        <mat-datepicker class = "mat-input" #birthday touchUi = "true"></mat-datepicker>

    </mat-form-field>

</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>