<h1 class = "centered"> HOME </h1>

<div class = "centered menu">

    <ul>

        <li>
            <a type = "button" mat-raised-button routerLink = "/autocomplete">
                Autocomplete
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/badges">
                Badges
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/buttons">
                Buttons
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/checkboxes">
                Checkboxes
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/chips">
                Chips
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/date-pickers">
                Date Pickers
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/dialogs">
                Dialogs
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/expansion-panels">
                Expansion Panels
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/icons">
                Icons
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/inputs">
                Inputs
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/progress-bars">
                Progress Bars
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/progress-spinners">
                Progress Spinners
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/radio-buttons">
                Radio Buttons
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/selects">
                Selects
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/tabs">
                Tabs
            </a>
        </li>

        <li>
            <a type = "button" mat-raised-button routerLink = "/text-areas">
                Text Areas
            </a>
        </li> 

        <li>
            <a type = "button" mat-raised-button routerLink = "/tooltips">
                Tooltips
            </a>
        </li>

    </ul>

</div>