<h1 class = "centered mat-display-2"> Chips </h1>

<div class = "top-margin5 bot-margin5">

    <ul>
    
        <li>
            <h2 class = "mat-title">Angular Course 1</h2> 
            <mat-chip-list>
                <mat-chip class = "mat-caption">Angular</mat-chip>
                <mat-chip class = "mat-caption">TypeScript</mat-chip>
                <mat-chip class = "mat-caption">HTML</mat-chip>
                <mat-chip class = "mat-caption">CSS</mat-chip>
                <mat-chip class = "mat-caption" color = "primary" selected>Beginner</mat-chip>
            </mat-chip-list>
        </li>

        <li>
            <h2 class = "mat-title">Angular Course 2</h2>
            <mat-chip-list>
                <mat-chip class = "mat-caption">Angular</mat-chip>
                <mat-chip class = "mat-caption">TypeScript</mat-chip>
                <mat-chip class = "mat-caption">HTML</mat-chip>
                <mat-chip class = "mat-caption">CSS</mat-chip>
                <mat-chip class = "mat-caption">Firebase</mat-chip>
                <mat-chip class = "mat-caption">Express</mat-chip>
                <mat-chip class = "mat-caption">Mongo</mat-chip>
                <mat-chip class = "mat-caption" color = "accent" selected>Intermediate</mat-chip>
            </mat-chip-list>
        </li>

        <li>
            <h2 class = "mat-title">Unity Course 1</h2>
            <mat-chip-list>
                <mat-chip class = "mat-caption">Unity</mat-chip>
                <mat-chip class = "mat-caption">C#</mat-chip>
                <mat-chip class = "mat-caption" color = "accent" selected>Intermediate</mat-chip>
            </mat-chip-list>
        </li>

        <li>
            <h2 class = "mat-title">Unity Course 2</h2>
            <mat-chip-list>
                <mat-chip class = "mat-caption">Unity</mat-chip>
                <mat-chip class = "mat-caption">C#</mat-chip>
                <mat-chip class = "mat-caption">Blender</mat-chip>
                <mat-chip class = "mat-caption" color = "warn" selected>Expert</mat-chip>
            </mat-chip-list>
        </li>

    </ul>
    
</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>