<h1 class = "centered mat-display-2"> Tabs </h1>

<mat-tab-group mat-align-tabs = "center">

    <mat-tab class = "mat-title" label = "First">

        <p class = "mat-body-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit semper suscipit. 
            Etiam vulputate leo orci, a maximus libero commodo eget. Aliquam convallis interdum turpis. 
            Maecenas sagittis at ante at cursus. Pellentesque purus risus, viverra in justo efficitur, 
            rutrum tempus odio. Suspendisse euismod congue varius.
        </p>

    </mat-tab>

    <mat-tab class = "mat-title" label = "Second">

        <p class = "mat-body-1">
            Integer quis dolor sit amet nisl pulvinar ultricies.
            Maecenas quam purus, pretium vel fringilla non, porta a risus. 
            Aenean ornare ex erat, a posuere nulla auctor et. 
            Pellentesque imperdiet augue nec sem dictum vulputate.
        </p>

    </mat-tab>

    <mat-tab class = "mat-title" label = "Third">

        <p class = "mat-body-1">
            Morbi sodales, dui et maximus interdum, lectus mi pellentesque nisi, eget mattis est est quis augue. 
            Ut id venenatis mauris. Quisque nec dignissim nisi, vitae semper nulla. 
            Fusce laoreet diam neque, vitae consectetur enim imperdiet et.
        </p>

    </mat-tab>

</mat-tab-group>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>