<h1 class = "centered mat-display-2"> Selects </h1>

<div class = "top-margin5 bot-margin2">

    <mat-label class = "mat-subheading-2"> Color: </mat-label>
    <mat-select [(ngModel)] = "color">
        <mat-option class = "mat-body-2" *ngFor = "let color of colors" [value] = "color.id">
            {{ color.name }}
        </mat-option>
    </mat-select>

</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>