<h1 class = "centered mat-display-2"> Progress Bars </h1>

<div class = "top-margin5 bot-margin5">

    <ul>
    
        <li class = "mat-title">
            Determinate
            <mat-progress-bar mode = "determinate" value = "65"></mat-progress-bar>
        </li>

        <li class = "mat-title">
            Indeterminate
            <mat-progress-bar mode = "indeterminate"></mat-progress-bar>
        </li>

        <li class = "mat-title">
            Buffer
            <mat-progress-bar mode = "buffer"></mat-progress-bar>
        </li>

            
        <li class = "mat-title">
            Query
            <mat-progress-bar mode = "query"></mat-progress-bar>
        </li>

    </ul>
    
</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>