<h1 class = "centered mat-display-2"> Autocomplete </h1>

<div class = "top-margin5 bot-margin5 centered">

    <form>
        <mat-form-field appearance = "fill">

            <mat-label class = "mat-subheading-2">
                Courses
            </mat-label>
            <input class = "mat-body-1" type = "text" placeholder = "Pick one" aria-label = "Number" matInput [formControl] = "myControl" [matAutocomplete] = "auto">

            <mat-autocomplete #auto = "matAutocomplete">

                <mat-option *ngFor = "let option of filteredOptions | async" [value] = "option">
                    {{ option }}
                </mat-option>
                
            </mat-autocomplete>

        </mat-form-field>
    </form>

</div>

<mat-divider></mat-divider>

<div class = "centered topMargin10">

    <button class = "mat-button" type = "button" mat-raised-button routerLink = "/home">
        Home Page
    </button>
    
</div>